:root {
  --most-text-color: #757575;
  --tittle-text-color: #212121;
  --logo-color: #000000;
  --secondary-link-color: #2196f3;
  --bcgnd-hero-color: #2f303a;
  --main-hero-color: #ffffff;
  --bcgnd-team-color: #f5f4fa;
  --bcgnd-color: #ffffff;
  --logo-footer-color: #ffffff;
  --filter-secondary-color: #f5f4fa;
  --filter-border-color: #eeeeee;
  --svg-main-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-delay: 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--most-text-color);
  background-color: var(--bcgnd-color);
  font-size: 14px;
}

/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
/* Container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Header */
.section-margin {
  margin-bottom: 94px;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  background-color: var(--bcgnd-color);
  z-index: 1;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-link,
.header-contact {
  text-decoration: none;
  color: var(--tittle-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  padding-bottom: 32px;
}
.header-link {
  color: var(--tittle-text-color);
  transition: color var(--time-delay) var(--timing-function);
}
.header-contact {
  color: var(--most-text-color);
  transition: color var(--time-delay) var(--timing-function);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 93px;
}
.web-logo {
  color: var(--secondary-link-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--secondary-link-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--secondary-link-color);
}
.current {
  color: var(--secondary-link-color);
}
.current::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-link-color);
  position: absolute;
  bottom: 0px;
}

.header-contact::after,
.header-contact::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-link-color);
  position: absolute;
  bottom: 0px;
  transform: scaleX(0);
  transition: transform var(--time-delay) var(--timing-function);
}

.header-link::after,
.header-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-link-color);
  position: absolute;
  bottom: 0px;
  transform: scaleX(0);
  transition: transform var(--time-delay) var(--timing-function);
}

.header-contact:hover::after,
.header-contact:focus::after {
  transform: scaleX(1);
}
.header-link:hover::after,
.header-link:focus::after {
  transform: scaleX(1);
}

/* Main */
.main {
  padding-top: 80px;
}
/* Hero sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  background-color: #c4c4c4;
  color: var(--main-hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.hero-btn {
  color: var(--main-hero-color);
  background-color: var(--secondary-link-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 216px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
/* Features sections */
.section-gap {
  display: flex;
  gap: 30px;
}
.features-main-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features-item {
  width: 270px;
}
.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}
.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features {
  padding-bottom: 0;
}
/* Development sections */
.development-item {
  position: relative;
}
.development-tittle {
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcgnd-color);
  text-align: center;
}
.development-wrapper {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

/* Team sections */

.team {
  background-color: var(--bcgnd-team-color);
}
.team-img {
  margin-bottom: 30px;
}
.team-item {
  background-color: var(--bcgnd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social-list {
  display: flex;
  align-items: center;
  width: 206px;
  gap: 10px;
  margin: 0 auto;
}

.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--svg-main-color);
  transition: background-color var(--time-delay) var(--timing-function),
    color var(--time-delay) var(--timing-function);
}
.team-social-icon {
  fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--secondary-link-color);
  color: var(--bcgnd-color);
}

/* Clients */

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--svg-main-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--time-delay) var(--timing-function),
    border var(--time-delay) var(--timing-function);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--secondary-link-color);
  border: 1px solid var(--secondary-link-color);
}
.clients-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

/* Footer */
.footer {
  background-color: var(--bcgnd-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-footer-color);
  margin-bottom: 20px;
  display: block;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link,
.footer-contact {
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link {
  color: var(--main-hero-color);
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-delay) var(--timing-function);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--secondary-link-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-adress-container {
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  width: 206px;
  gap: 10px;
  margin: 0 auto;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}
.footer-social-link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time-delay) var(--timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--secondary-link-color);
}
.footer-social-icon {
  fill: var(--bcgnd-color);
}
.footer-social-tittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcgnd-color);
  margin-bottom: 20px;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--time-delay) var(--timing-function),
    visibility var(--time-delay) var(--timing-function);
  z-index: 2;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--bcgnd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--time-delay) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaley(0) rotate(-180deg);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--logo-color);
  transition: fill var(--time-delay) var(--timing-function);
}
.modal-close:hover,
.modal-close:focus {
  fill: var(--secondary-link-color);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Portfolio */
.filter-list {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;
  justify-content: center;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  background-color: var(--filter-secondary-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: color var(--time-delay) var(--timing-function),
    background-color var(--time-delay) var(--timing-function),
    box-shadow var(--time-delay) var(--timing-function);
}
.filter-btn:focus,
.filter-btn:hover {
  color: var(--main-hero-color);
  background-color: var(--secondary-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.galery-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.galery-list {
  flex-wrap: wrap;
}
.card-padding {
  padding: 20px 24px;
}
.galery-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--filter-border-color);
}
.galery-card {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
  margin-bottom: 4px;
}
.galery-tittle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--most-text-color);
}

.galary-link {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--time-delay) var(--timing-function);
}

.galary-link:hover,
.galary-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-hero-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(105%);
  transition: transform var(--time-delay) var(--timing-function);
}
.galery-item:hover .galery-text,
.galery-item:focus .galery-text {
  transform: translateY(0);
}
.galary-text-wrap {
  position: relative;
  overflow: hidden;
}
